body {
  font-family: sans-serif;
  background-color: seashell;
}

img {
  padding-bottom: 1em;
  padding-top: 1em;
}

h4 {
  margin: 1rem 0 0 1rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.footer {
  text-align: center;
}
